html, body {
    margin:0;
    padding:0;
    }

.bandeau-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    background-color: #3b7fbe;
    height: 60px;
    width: 900px;
    background-attachment: fixed;
  }
  #normandiewebschool{
    width: 200px;
    grid-column-start: 1;
    align-self: center;
    justify-self: center;
  }

  #boutons-top{
    grid-column-start: 4;
    grid-column-end: 4;
    justify-self: center;
  }
  #fb{
      height: 60px;
      width: 60px;
  }   

  #in{
      height: 60px;
      width: 60px;
  }

  #insta{
      height: 60px;
      width: 60px;
  }
  #Moi{
    height: 300px;
    width: 400px;
    border-radius: 200px;
  }

  #titre1{
   margin-left: 500px;
   font-size: 20px;
   text-align-last: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #3b7fbe;

}  

 #img1{
   height: 50px
 }

